# SME Root Environment Variables for Docker Compose
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=password123
JWT_SECRET=replace_me_with_crypto_random_48_bytes_base64
JWT_REFRESH_SECRET=replace_me_with_different_crypto_random_48_bytes_base64
